<!DOCTYPE html>
<html>
  <head>
    <title>Pricescraper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
    <h1>Pricetracker</h1>
  </div>   
    <div class="container" id="flash-container">
      <% flash.each do |type, msg| %>
        <%= render 'layouts/flash_message', locals: {type: type, msg: msg} %>
      <% end %>   
    </div>
    <div class="container" id="mainWindow">
      <%= yield %>
    </div>
    <div class="container">
        <div id='spinner-container' class="row d-flex justify-content-center hidden">
          <%= render 'layouts/knightrider_spinner'%>
        </div>
      </div>
    <%= render 'layouts/footer'%>
  </body>
</html>
